
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&subset=cyrillic" rel="stylesheet">
    <link href="https://unpkg.com/purecss@1.0.1/build/base-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@1.0.1/build/grids-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css" rel="stylesheet">
    <link href="/static/css/typography.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
