$-text: rgb(0, 0, 0);

$colors-text-lead: rgba($-text, 0.96);
$colors-text-head: rgba($-text, 0.87);
$colors-text-body: rgba($-text, 0.72);
$colors-text-note: rgba($-text, 0.36);

$colors-site: rgb(254, 254, 254);
$colors-menu: rgb(255, 255, 255);

$colors-shadow: rgba(0, 0, 0, 0.30);
