@import "breakpoints";
@import "colors";
@import "icons";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: url(/static/img/topography.png) repeat $colors-site;
}

/* Layout */

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0.5em 0 0;
}

div {
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
}

section > * + * {
  margin-top: 3rem;
}

section[hero] {
  height: 100%;
  min-height: 560px;
  padding: 10rem 0 0 0;
}

section[copy] {
  padding: 4rem 0 1rem;
  text-align: center;
}

@media screen and (max-width: $breakpoints-xl) {
  section {
    max-width: 800px;
  }
}

@media screen and (max-width: $breakpoints-lg) {
  section {
    max-width: 640px;
  }
}

@media screen and (max-width: $breakpoints-md) {
  section {
    max-width: none;
    margin: 0 2rem;
  }

  section[hero] {
    height: auto;
    min-height: auto;
    padding: 10rem 0 5rem;
  }

  section[copy] {
    padding: 4rem 0;
  }
}

/* Grids */

[md-flex],
[lg-flex] {
    display: flex;
    flex-direction: row;
    align-items: start;
}

[flex-1] {
  flex: 1;
}

[flex-2] {
  flex: 2;
}

@media (max-width: $breakpoints-lg) {
  [md-flex] {
    display: block;
  }
}

@media (max-width: $breakpoints-xl) {
  [lg-flex] {
    display: block;
  }
}

/* Lists */

ul {
  list-style-type: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: $breakpoints-md) {
  ul {
    margin: 1rem 0 0;
  }
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 48px;
}

nav > span {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  transform: scale(-1, 1) translate(50%, -50%) rotate(90deg);
}

nav > span > * {
  display: inline-block;
  transform: scale(-1, 1);
}

@media screen and (max-width: $breakpoints-md) {
  nav {
    top: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $colors-menu;
    padding: 0.75rem 0;
    z-index: 1;
    box-shadow: 0px 2px 4px $colors-shadow;
  }

  nav > span {
    position: static;
    transform: none;
  }

  nav > span > * {
    transform: none;
  }
}

/* Header */

header {
  z-index: 2;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
}

header aside {
  position: absolute;
  top: 0;
  right: 48px;
  bottom: 0;
}

@media screen and (max-width: $breakpoints-md) {
  header {
    top: 2.25rem;
  }

  header aside {
    right: 2rem;
  }
}

/* Footer */

footer {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2rem;
  transform: translate(0, -100%) translate(0, -48px);
}

footer aside {
  position: absolute;
  top: 0;
  right: 48px;
  bottom: 0;
}

footer aside > * {
  margin-left: 0.25rem;
}

@media screen and (max-width: $breakpoints-md) {
  footer {
    top: 2rem;
    transform: none;
  }

  footer aside {
    left: 2rem;
    right: auto;
  }

  footer aside > * {
    margin: 0 0.5rem 0 0;
  }
}

/* Break */

hr {
  margin: 4rem 0;
  height: 3rem;
  border: 0;
  opacity: 0.24;
  background: $icons-mountains center/contain no-repeat;
}

/* Animations */

@keyframes fade-animation {
  to {
    opacity: 0.04;
  }
}

/* Icons */

i {
  width: 2rem;
  height: 2rem;
  display: block;
  opacity: 0.42;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

i[type=mice] {
  margin: 0 auto;
  animation: 1.6s infinite alternate ease-in fade-animation;
  pointer-events: none;
  background-image: $icons-mice;
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  i[type=mice] {
    display: block;
  }
}

i[type=mail] {
  background-image: $icons-mail;
}

i[type=github] {
  background-image: $icons-github;
}

i[type=instagram] {
  background-image: $icons-instagram;
}

/* Links */

a[type=link] {
  display: inline-block;
  transition: transform 0.225s ease-in;
}

nav a {
  display: inline-block;
  transition: color 0.225s ease-in;
}

@media (hover: hover) and (pointer: fine) {
  a[type=link]:hover {
    transform: translate(0, -2px) scale(1.25);
  }
}

a[type=lang] {
  line-height: 2rem;
}

a[type=lang][active] {
  pointer-events: none;
}

/* Print */

@media print {
  header,
  footer,
  nav,
  hr,
  section[copy] {
    display: none;
  }

  html,
  body {
    height: auto;
  }

  body {
    background: none;
  }

  ul {
    margin: 1rem 0 0;
  }

  section {
    padding: 2rem 0;
  }

  section[hero] {
    height: auto;
    min-height: auto;
    padding: 2rem 0 4rem;
  }

  section div {
    page-break-inside: avoid;
  }

  @page {
    margin: 2cm 2cm 1cm
  }
}
