@import "breakpoints";
@import "colors";
@import "icons";

$side-margin: 48px;

@mixin icon {
    display: block;
    width: 2em;
    height: 2em;
    pointer-events: none;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: $opacity-icon;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: url(/static/img/topography.png) repeat $colors-site;
}

/* Layout */

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0.5em 0 0;
}

div {
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
}

section > * + * {
  margin-top: 3rem;
}

section[hero] {
  position: relative;
  height: 100%;
  min-height: 560px;
  padding: 10rem 0 0 0;
}

section[contacts] {
  padding: 4rem 0 0;
  text-align: center;
}

section[copy] {
  padding: 0 0 1rem;
  text-align: center;
}

@media screen and (hover: hover) and (pointer: fine) {
  section[hero]:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -$side-margin);

    @include icon;

    background-image: $icons-mice;
    animation: 1.6s ease-in infinite alternate fade-out;
  }
}

@media screen and (max-width: $breakpoints-xl) {
  section {
    max-width: 800px;
  }
}

@media screen and (max-width: $breakpoints-lg) {
  section {
    max-width: 640px;
  }
}

@media screen and (max-width: $breakpoints-md) {
  section {
    max-width: none;
    margin: 0 2rem;
  }

  section[hero] {
    height: auto;
    min-height: auto;
    padding: 10rem 0 5rem;
  }

  section[hero]:after {
    display: none;
  }

  section[contacts] {
    padding: 4rem 0 0;
  }

  section[copy] {
    padding: 0 0 4rem;
  }
}

/* Grids */

[md-flex],
[lg-flex] {
    display: flex;
    flex-direction: row;
    align-items: start;
}

[flex-1] {
  flex: 1;
}

[flex-2] {
  flex: 2;
}

@media (max-width: $breakpoints-lg) {
  [md-flex] {
    display: block;
  }
}

@media (max-width: $breakpoints-xl) {
  [lg-flex] {
    display: block;
  }
}

/* Lists */

ul {
  list-style-type: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: $breakpoints-md) {
  ul {
    margin: 1rem 0 0;
  }
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $side-margin;
}

nav > span {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  transform: scale(-1, 1) translate(50%, -50%) rotate(90deg);
}

nav > span > * {
  display: inline-block;
  transform: scale(-1, 1);
}

@media screen and (max-width: $breakpoints-md) {
  nav {
    top: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $colors-menu;
    padding: 0.75rem 0;
    z-index: 1;
    box-shadow: 0px 2px 4px $colors-shadow;
  }

  nav > span {
    position: static;
    transform: none;
  }

  nav > span > * {
    transform: none;
  }
}

/* Header */

header {
  z-index: 2;
  text-align: right;
  position: absolute;
  top: $side-margin;
  right: $side-margin;
}

@media screen and (max-width: $breakpoints-md) {
  header {
    top: 2rem;
    right: 2rem;
  }
}

/* Break */

hr {
  margin: 4rem 0;
  height: 3rem;
  border: 0;
  opacity: $opacity-line;
  background: $icons-mountains center/contain no-repeat;
}

/* Animations */

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

/* Icons */

i[type] {
  @include icon;
}

/* Links */

nav a {
  display: inline-block;
  transition: color 0.225s ease-in;
}

a[type=lang] {
  line-height: 2rem;
}

a[type=lang][active] {
  pointer-events: none;
}

/* Print */

@media print {
  header,
  nav,
  hr,
  section[contacts],
  section[copy] {
    display: none;
  }

  html,
  body {
    height: auto;
  }

  body {
    background: none;
  }

  ul {
    margin: 1rem 0 0;
  }

  section {
    padding: 2rem 0;
  }

  section[hero] {
    height: auto;
    min-height: auto;
    padding: 2rem 0 4rem;
  }

  section div {
    page-break-inside: avoid;
  }

  @page {
    margin: 2cm 2cm 1cm
  }
}
