@import "breakpoints";
@import "colors";

html,
body {
  font-size: 16px;
}

@media screen and (max-width: $breakpoints-md) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: $breakpoints-sm) {
  html,
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: $breakpoints-xs) {
  html,
  body {
    font-size: 8px;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.4em;
  color: $colors-text-lead;
}

@media screen and (max-width: $breakpoints-sm) {
  h1 {
    font-size: 2.25rem;
  }
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.5em;
  color: $colors-text-head;
}

@media (max-width: $breakpoints-xl) {
  h3 {
    font-size: 1.25rem;
    line-height: 2em;
    color: $colors-text-body;
  }
}

p,
li,
span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5em;
  color: $colors-text-body;
}

small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2em;
  color: $colors-text-note;
}

a,
span {
  white-space: nowrap;
  color: $colors-text-note;
}

a {
  text-decoration: none;
}

a[active] {
  color: $colors-text-body;
}

span {
  cursor: default;
}

[ui] {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Print */

@media print {
  html,
  body {
    font-size: 12px;
  }
}
